@model CategoryViewModel

@{
	ViewData["Title"] = "Delete";
}

<div class="card shadow border-0">
	<div class="card-header bg-secondary bg-gradient ml-0 py-2">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Category Details</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="border p-3 mt-4">
			<dl class="row">
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Id)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Id)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Name)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Name)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.DisplayOrder)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.DisplayOrder)
				</dd>
			</dl>
			<hr />
			<a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="Index">
				Back to List
			</a>
		</div>
	</div>
</div>

