@model IEnumerable<BookListViewModel>

<div class="card shadow border-0">
    <div class="card-header bg-secondary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Book List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="text-end">
                <a asp-controller="Book" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Book
                </a>
            </div>
        </div>

        <!-- Responsive table wrapper -->
        <div class="table-responsive-sm">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>ISBN</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Title</td>
                            <td>@product.Author</td>
                            <td>@product.ISBN</td>
                            <td>@product.Price</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Book" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-info-lg"></i>
                                    </a>
                                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning mx-2">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
